
body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    padding: 1rem 2rem;

}
.home{
    width: 100px;
    height: 45px;
    font-size: 25px;
}
.father{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: blue solid 5px;
    background: blue;
    font-size: 25px;
}
.name{
    font-size: 50px;
    color:white;
}
.mother{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: deeppink solid 5px;
    background: deeppink;
    font-size: 25px;
}
#familly{
    font-size: 50px;
}
#mid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 40em;
    align-items: center;
    padding: 2.5%;
}
.person{
    border-radius: 10%;
    padding: 10% 10% 10% 10%;
    background-image: url("img.jpg");
    background-size: cover;
}
#bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5%;
}
.texte{
    height: 400px;
    width: 1500px;
    padding: 0;
    margin: 0;
    border: 3px solid black;
}
.left{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 125px solid transparent;
    border-right : 172px solid goldenrod;
    border-bottom : 125px solid transparent;
}
.right{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 125px solid transparent;
    border-bottom : 125px solid transparent;
    border-left : 172px solid goldenrod;
}
.generation {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0; /* Augmentation de l'espace entre les générations */
    width: 100%;
}

.member {
    text-align: center;
    position: relative;
    margin: 0 2rem; /* Augmentation de l'espace entre les membres */
    font-size: 35px;
}

.member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover; /* Rogner l'image pour qu'elle couvre l'espace sans se déformer */
    object-position: center; /* Centrer l'image rognée */
}
