body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,121,9,1) 0%, rgba(100,111,8,1) 0%, rgba(35,158,7,1) 53%, rgba(0,255,133,1) 100%);
}
#business{
    font-size: 50px;
    font-family: "Arial Black";
}
#familly{
    font-size: 50px;
}
#top{
    display: flex;
    flex-direction: row;
    column-gap: 1450px;
}
#tree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#ff{
    display: flex;
    flex-direction: row;
    padding: 1% 1% 1% 1%;
    justify-content: space-around;
}
.root1 {
    border: 2px solid black;
    font-size: 50px;
    padding: 1% 1% 1% 1%;
}

.root2{
    border: 2px solid black;
    font-size: 50px;
    padding: 5%;
}
.root3{
    border: 2px solid black;
    font-size: 50px;
    padding: 5%;
    margin-left: 335%;
}

#pff{
    display: flex;
    flex-direction: row;
    padding: 1% 1% 1% 1%;
    justify-content: space-around;
    gap: 25%;
}
.root4{
    border: 2px solid black;
    font-size: 50px;
    padding: 1%;
}
.root5{
    border: 2px solid black;
    font-size: 50px;
    padding: 1%;
    margin-left: 25%;
}

