@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: #003306 url("bg.svg") no-repeat fixed center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-name {
    border: 3px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.family-name {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(232,218,37,1) 51%, rgba(196,143,2,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.tree ul {
    padding-top: 40px;
    position: relative;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 25px 15px 0 25px;
}

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 3px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 3px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before,
.tree li:first-child::before, .tree li:last-child::after {
    display: none;
}

.tree li:last-child::before {
    border-right: 3px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 3px solid #ccc;
    width: 0;
    height: 40px;
}

.tree li a {
    border: 3px solid #fff990;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: inline-block;
    border-radius: 5px;
    background: rgba(192, 201, 192, 0.37);
    transition: all 0.3s ease-in-out;
}

.tree li a img {
    display: block;
    margin: 0 50px 0;
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

.tree li a p {
    margin: 0;
}

.tree li a:hover {
    background: rgba(255, 249, 144, 0.51);
    border: 3px solid #fff990;
    transform: scale(1.05);
}

.arbre {
    position: absolute;
    z-index: -1;
    width: 50%;
    top: 0;
    right: 0;
    opacity: 0.8;
    filter: blur(0.5px);
}

.children > * {
    margin: 5px;
}

.children {
    position: relative;
    padding: 5px;
}

.children::after {
    content: "";
    display: block;
    width: 40%;
    border-bottom: 3px solid #ccc;
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: 0;
}