* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #085d01, #246801, #397301, #4c7d01, #5f8802);
}

header {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header-left, .header-right {
    flex: 1;
    text-align: right;
}

.header-left {
    text-align: left;
}

.header-left h1, .header-right h1 {
    margin: 0;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.tree ul {
    padding-top: 40px;
    position: relative;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 25px 15px 0 25px;
}

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 3px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 3px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before,
.tree li:first-child::before, .tree li:last-child::after {
    display: none;
}

.tree li:last-child::before {
    border-right: 3px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 3px solid #ccc;
    width: 0;
    height: 40px;
}

.tree li a {
    border: 3px solid #ccc;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: inline-block;
    border-radius: 5px;
    background: rgba(192, 201, 192, 0.37);
    transition: all 0.3s ease-in-out;
}

.tree li a:hover {
    transform: scale(1.1);
}

.tree li a img {
    display: block;
    margin: 0 50px 0;
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

.tree li a p {
    margin: 0;
}

.tree li a:hover {
    background: #c8e4f8;
    color: #000;
    border: 3px solid #94a0b4;
}