@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("bg.svg");
    background-color: #003306;
    background-size: cover;
    margin: 0;
    padding: 0;
}
#person{
    border-radius: 10%;
    border : 2px solid black;
    width: 200px;
    height: 200px;
    margin-left : 33%;
}
#global{
    justify-content: center;
    text-align: center;
    border-radius: 10%;
    width: 550px;
    height: 550px;
    margin-left: 32%;
    background: rgba(255, 249, 144, 0.51);
    color: #000;
    border: 3px solid #fff990;
    list-style-type: none;
    text-decoration: none;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#family{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(232,218,37,1) 51%, rgba(196,143,2,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 1.5%;
    font-size: 1.5rem;
}
#business{
    margin: 1.5%;
    border: 3px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.5rem;
}
img{
    position: absolute;
    z-index: -1;
    width: 50%;
    top: 0;
    right: 0;
    opacity: 0.8;
    filter: blur(0.5px);
}